
<!DOCTYPE html>
<html>
    <head>
        <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0" > -->
        <link rel="stylesheet" href="resources/w3.css">
        <script src="resources/angular.min.js"></script>
        <script src="resources/script.js"></script>
        <title></title>
        <style>
            img{
                height: 200px;
                width: 200px;
            }
            #c {
                width: 40%;
                font-weight: bold;
            }
            #p1 {
                padding-left: 12%;
                width: 40%;
            }
        </style>
    </head>
    <body>
        <p class="w3-center w3-black w3-text-white w3-bold w3-xlarge">SCHOOL ERP SYSTEM</p>
        <div class="w3-sidebar w3-bar-block" style="width:15%">
            <p class="w3-center w3-black w3-xxlarge">MENU</p>
            <a href="AddStudent.html" class="w3-bar-item w3-button">Add Student</a>
            <a href="ViewStudent.html" class="w3-bar-item w3-button">View / Edit Student</a> 
            <a href="CollectFees.html" class="w3-bar-item w3-button">Fees Collection</a>
            <a href="ViewFees.html" class="w3-bar-item w3-button">View Fees</a>
        </div>
        <div ng-app="app" ng-controller="ctrl" >
            <div style="padding-left: 250px" class="w3-container w3-container-fluid w3-clearfix" >
                <p id="p1" class="w3-xlarge w3-green">Collect Fees</p><br>
                Admission Number <input ng-model="ad_no" style="width:20%" class="w3-input" type="number" autocomplete="off">{{name}}<br>
                Date <input ng-model="date" style="width: 20%" class="w3-input" id="fees_date" type="text" placeholder="DD-MM-YYYY" value=""> <br>
                Fees <input ng-model="fees" style="width:20%" class="w3-input" name="" type="number" autocomplete="off"><br>
                Transport Charges <input ng-model="tr_charges" style="width:20%" class="w3-input" name="" type="number" autocomplete="off"><br>
                Other Charges <input ng-model="o_charges" style="width:20%" class="w3-input" name="" type="number" autocomplete="off"><br>
                Remarks <input ng-model="remarks" style="width:60%" class="w3-input" name="" type="text" autocomplete="off"><br>
                <button ng-click="collectFees()" class="w3-btn w3-blue">Submit</button>
                </br>
                <p style="padding-left: 20px" class="w3-green" > {{fees_collection_status}} </p>
            </div>
        </div>
    </body>
    <script>
            document.getElementById("fees_date").setAttribute("value", new Date().toISOString().split("T")[0]);
    </script>
</html>
